@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
/*  background: #0a0a0a  no-repeat scroll center top;*/
/*  color: #cccccc;*/
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
}
a {
  color: #d06060;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
p, ul, ol, dl {
  margin: 0 0 15px;
}
h1 {
  color: #888888;
  font-size: 2.8em;
  margin-bottom: 0;
}
h1 a {
  text-transform: none;
  font-weight: 400;
}
h1 a:hover {
  text-decoration: none;
  color: #eeeeee;
}
h2 {
  margin: 0 0 5px;
  font-size: 2.0em;
  color: #333333;
}
h3 {
  margin: 0 0 5px;
  font-size: 1.6em;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1;
  padding: 23;
}
thead {
  font-weight: 400;
}
tr:nth-child(even) {
  background: rgb(241, 241, 241)
}
h1, h2, h3 {
  color: #d06060;
  font-weight: 400;
}
#layout {
  margin: 40px auto 0;
}
body.wider #layout {
  margin: 40px auto 0;
  width: 1200px;
}
#footer {
  background: #0a0a0a  no-repeat scroll center top;
}
#footer .col {
  border-top: 1px dotted #1a1a1a;
  padding: 20px 0;
  color: #555555;
}
#footer p {
  text-align: center;
}
#footer a {
  border-bottom: 1px dotted #333333;
  color: #555555;
  font-weight: 400;
  text-decoration: none;
}
#footer a:hover {
  border-bottom: 1px dotted #888888;
  color: #aaaaaa;
  text-decoration: none;
}
.col {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
}
.col img {
  max-width: 100%;
}
.row {
  margin: 20px auto 0;
  overflow: hidden;
  width: 90%;
}
.row .row {
  margin: 0 -10px;
  width: auto;
}
.c1 {
  width: 60px;
}
.c2 {
  width: 140px;
}
.c3 {
  width: 220px;
}
.c4 {
  width: 300px;
}
.c5 {
  width: 380px;
}
.c6 {
  width: 460px;
}
.c7 {
  width: 540px;
}
.c8 {
  width: 620px;
}
.c9 {
  width: 700px;
}
.c10 {
  width: 580px;
}
.c11 {
  width: 860px;
}
.c12 {
  width: 940px;
}
body.wider .row {
  width: 1200px;
}
body.wider .c1 {
  width: 80px;
}
body.wider .c2 {
  width: 180px;
}
body.wider .c3 {
  width: 280px;
}
body.wider .c4 {
  width: 380px;
}
body.wider .c5 {
  width: 480px;
}
body.wider .c6 {
  width: 580px;
}
body.wider .c7 {
  width: 680px;
}
body.wider .c8 {
  width: 780px;
}
body.wider .c9 {
  width: 880px;
}
body.wider .c10 {
  width: 980px;
}
body.wider .c11 {
  width: 1080px;
}
body.wider .c12 {
  width: 1180px;
}
ul.menu {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    background-color: #5f5f5f;
    text-align: center;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
}

ul.menu li {
  float: left;
}

ul.menu li a {
  padding: 4px 16px 4px 16px;
  display: inline;
  text-decoration: none;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
}

ul.menu li a:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

.slogan {
  color: #bbbbbb;
  font-size: 1.2em;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.aligncenter {
  text-align: center;
}
.alignjustify {
  text-align: justify;
}
.nomargin {
  margin: 0;
  padding: 0;
}
.separator {
  border-bottom: 1px dotted #1a1a1a;
  margin: 0;
  padding: 0;
  background: #0a0a0a  no-repeat scroll center bottom;
  height: 100px;
}
.larger {
  font-size: 1.2em;
}
.smaller {
  font-size: 0.9em;
}
.spacer {
  margin: 0 20px;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.normal {
  color: #000000;
}
body.light {
  background: white  no-repeat scroll center top;
  /*color: black;*/
}
body.light a {
  color: #d06060;
}
body.light a:hover {
  color: #555555;
}
body.light h1 {
  color: #888888;
}
body.light h1 a:hover {
  color: #303030;
}
body.light h2 {
  color: #555555;
}
body.light h1, body.light h2, body.light h3 {
  color: #d06060;
}
body.light ul.menu {
/*  border-left: 1px solid #dddddd;
*/}
body.light ul.menu li {
/*  border-right: 1px solid #dddddd;
*/}
body.light ul.menu li a:hover {
  color: gold;
  border-bottom: 2px solid #2f5fee;
}

body.light ul.menu li.active {
  color: rgb(111, 143, 81);
  background-color: #754588;
}

body.light .separator {
  border-bottom: 1px dotted #cccccc;
  background: #f5f5f5  no-repeat scroll center bottom;
}
body.light .slogan {
  color: #888888;
}
body.light #footer {
  background: #f5f5f5  no-repeat scroll center top;
}
body.light #footer .col {
  border-top: 1px dotted #cccccc;
  color: #555555;
}
body.light #footer a {
  border-bottom: 1px dotted #dddddd;
  color: #555555;
}
body.light #footer a:hover {
  border-bottom: 1px dotted #eeeeee;
  color: #444444;
}
body.blue a {
  color: #2f5fee;
}
body.blue h1, body.blue h2, body.blue h3 {
  color: #3270cc;
}
body.pink a {
  color: #f06ba0;
}
body.pink h1, body.pink h2, body.pink h3 {
  color: #f06ba0;
}
body.orange a {
  color: #e58c24;
}
body.orange h1, body.orange h2, body.orange h3 {
  color: #e58c24;
}
body a.boldgrey {
  color: #555555;
  font-weight: bold;
}
body.freestyle01 {
}
body.freestyle01 #layout {
  margin: 20px auto 0;
  width: 760px;
}
body.freestyle01 h1, body.freestyle01 h2, body.freestyle01 h3, body.freestyle01 ul.menu li a {
}
body.freestyle01 p.slogan {
  margin-top: 10px;
  font-size: 1.4em;
}
body.freestyle01 h1 {
  line-height: 1.7em;
}
body.freestyle01 h1 {
  font-size: 2.6em;
}
body.freestyle01 h2 {
  font-size: 1.8em;
}
body.freestyle01 h3 {
  font-size: 1.3em;
}
body.freestyle01 ul.menu {
  border:  none;
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  position: relative;
}
body.freestyle01 ul.menu li {
  border:  none;
  margin: 0 0 1px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  text-align: left;
  font-size: 1.2em;
  color: #888888;
}
body.freestyle01 ul.menu li a {
  border-left: 5px solid #cccccc;
  padding: 7px 5px 7px 8px;
  font-size: 1em;
  color: #333333;
  background-color: #efeaeb;
  display: block;
  font-weight: 400;
}
body.freestyle01 ul.menu li a:hover, body.freestyle01 ul.menu li a.current {
  border-color: #2f008e;
  background-color: #ccccff;
  color: #333333;
  text-decoration: none;
}
body.freestyle01 ul.menu ul.subpages {
  margin: 9px 0 -10px 15px;
}
body.freestyle01 ul.menu ul.subpages a {
  padding: 4px 5px 4px 8px;
  font-size: 0.8em;
}
body.freestyle01 #footer {
  font-size: 0.9em;
  color: #999999;
}
body.freestyle01 #footer p {
  color: #999999;
}
body.freestyle01 #footer p a {
  color: #999999;
}
body.freestyle01 #footer p a:hover {
  color: #555555;
}
